---
import ButtonLink from './ButtonLink.astro'
import Icon from './Icon.astro'
import WorldIcon from '../icons/WorldIcon.astro'
import GithubIcon from '../icons/GithubIcon.astro'
import JavaScriptIcon from '../icons/JavaScriptIcon.astro'
import CSSIcon from '../icons/CSSIcon.astro'
import BoostrapIcon from '../icons/BoostrapIcon.astro'
import HTMLIcon from '../icons/HTMLIcon.astro'
import MySqlIcon from '../icons/MySqlIcon.astro'
import PHPIcon from '../icons/PHPIcon.astro'
import TailwindIcon from '../icons/TailwindIcon.astro'
import AstroIcon from '../icons/AstroIcon.astro'
import JavaIcon from '../icons/JavaIcon.astro'
import NetBeansIcon from '../icons/NetBeansIcon.astro'
import ReactIcon from '../icons/ReactIcon.astro'


const projects = [
{
        "id": "1",
        "tittle": "Figra-gas",
        "description": "Desarrollé la página web para una empresa dedicada a los hidrocarburos utilizando HTML, CSS (Bootstrap) y JavaScript vanilla. La solicitud de diseño fue que fuera simple pero que mostrara claramente el precio e imágenes de la empresa y que fuera responsive.",
        "technologies": ["javascript", "css", "html","bootstrap", "mysql", "php"],
        "urlweb": "https://www.figragas.com/",
        "url": "https://github.com/CDavidDv/Figra-Gas",
        "img": "./figragas.webp"
    },
    {
        "id": "2",
        "tittle": "Laboratorios",
        "description": "Elaboré su página web utilizando HTML, CSS (TailwindCSS), JavaScript vanilla, con el framework Astro.build. El objetivo era crear un diseño empresarial y formal, utilizando sus colores institucionales.",
        "technologies": ["javascript", "css", "html","tailwind", "astro"],
        "urlweb": "https://www.labtlatlauquitepec.com/",
        "url": "https://github.com/CDavidDv/labortorio-page",
        "img": "./labtlatlauquitepec.webp"
    },
    {
        "id": "3",
        "tittle": "MACE",
        "description": "Desarrollé un emprendimiento con unos compañeros de la universidad enfocado en el desarrollo de páginas web, aplicaciones web y de escritorio, entre otros proyectos. Para la creación de estos, utilizamos un framework llamado Astro.build, HTML, CSS (Tailwind), y JavaScript.",
        "technologies": ["javascript", "css", "html","tailwind", "astro"],
        "urlweb": "https://www.mace-technology.com/",
        "url": "https://github.com/CDavidDv/mace-technology",
        "img": "./mace.webp"
    },
    {
        "id": "4",
        "tittle": "Java",
        "description": "La misma empresa de laboratorios nos solicitó un programa de escritorio, el cual desarrollé utilizando Java con NetBeans y una base de datos en SQLite, debido a los requisitos del proyecto.",
        "technologies": ["java", "sqlite", "netbeans"],
        "urlweb": "",
        "url": "https://github.com/CDavidDv/laboratories",
        "img": "./laboratorios.webp"
    },
    {
        "id": "5",
        "tittle": "Connect 4",
        "description": "En mi proceso de aprendizaje de nuevas tecnologías, realicé un proyecto de Connect 4 utilizando los recursos de React y los 'hooks', específicamente useState y lo deploye en Netlify.",
        "technologies": ["javascript", "css", "html","tailwind", "react"],
        "urlweb": "https://wonderful-lolly-448912.netlify.app/",
        "url": "https://github.com/CDavidDv/react-practice",
        "img": "./connect4.webp"
    },
    {
        "id": "6",
        "tittle": "Portfolio",
        "description": "Quise utilizar tecnologías para practicar y crear un portafolio que demostrara mis conocimientos, y lo desplegué en Netlify.",
        "technologies": ["javascript", "css", "html","tailwind", "astro"],
        "urlweb": "https://portfoliocdavidv.netlify.app/",
        "url": "https://github.com/CDavidDv/portfolio",
        "img": "./portfolio.webp"
    },
]
---

{
    <div class="flex flex-wrap">
        {projects.map((data) =>(
            <ButtonLink id={data.id} tittle={data.tittle}></ButtonLink>        
        ))}
    </div>
}

<section id="numberProjects" numberProjects={projects.length} class=" hidden  relative w-full  h-full lg:h-auto flex">
        
    {
        projects.map((data) =>(
            <div id={`ContainerDetails${data.id}`}  class="hidden relative mt-2 overflow-hidden   flex flex-col md:flex-row row-span-1 p-4  bottom-0 rounded-sm bg-slate-100 text-black">
                <div class="w-full md:w-8/12 ">
                    
                    <h3 class="text-2xl">{data.tittle}</h3>
                    <div class="w-full">
                        <span >{data.description}</span>
                        <div class="flex flex-row pt-1">
                            <span class="w-full md:w-6/12 flex" >
                                <Icon link={data.url} >GitHub <GithubIcon/></Icon>
                                { data.urlweb && <Icon link={data.urlweb}  class="flex"><p>Web</p> <WorldIcon/></Icon>}
                            </span >
                            <span class="w-6/12 flex  justify-end pr-1 text-slate-800 dark:text-violet-800/80">
                                {
                                    data.technologies.map((svgs) =>(
                                        svgs === "javascript" && <JavaScriptIcon /> ||
                                        svgs === "css" && <CSSIcon /> ||
                                        svgs === "html" && <HTMLIcon /> ||
                                        svgs === "bootstrap" && <BoostrapIcon /> ||
                                        svgs === "mysql" && <MySqlIcon /> ||
                                        svgs === "sqlite" && <MySqlIcon /> ||
                                        svgs === "php" && <PHPIcon /> || 
                                        svgs === "tailwind" && <TailwindIcon /> ||
                                        svgs === "astro" && <AstroIcon /> ||
                                        svgs === "java" && <JavaIcon /> ||
                                        svgs === "netbeans" && <NetBeansIcon /> ||
                                        svgs === "react" && <ReactIcon /> 

                                    ))
                                }
                            </span>
                        </div>
                    </div>
                    
                </div>
                <img class="w-full md:w-4/12 p-2 top-0 shadow-xl h-fit " src={data.img} alt={"Imagen de " +data.tittle}>
            </div>                    
        
        ))
    }
</Section>